body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://i.imgur.com/bS8KWFU.jpeg");
    color: #333;
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-section {
    padding: 20px;
    text-align: center;
    color: white;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.menu-item {
    background: darkblue;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.menu-item img {
    width: 100%;
    border-radius: 5px;
}

.menu-item h3 {
    margin: 8px 0;
}

.menu-item p {
    margin: 2px 0;
}

.menu-item .price {
    font-weight: bold;
    color: Yellow;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}